
<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/pages/head.ejs %>  </head>
  <body class=" <%= classname %> ">
      <% include partials/pages/header.ejs %> 
      <div class="container"> 
      
       <h1>  <%= title %> <%= pagetitle %> </h1> 
            <p> One Ring to bring them all and in the darkness bind them
                In the Land of Mordor where the Shadows lie." </p>

      
      </div>
      
      <% include partials/pages/footer.ejs %> 
      <% include partials/pages/jsdefaults.ejs %> 
  </body>
</html>























